* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Universal Styles */

html {
    width: 100%;
}

div {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f9faf8;
}

header {
    margin-top: -30px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    background-color: #1f2937;
    color: #f9faf8;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 3% 10%;
}

nav div a {
    flex: 1;
    margin: 10px;
}

.welcome_content button {
    flex: 1;
    width: 40%;
    height: 15%;
    max-height: 50px;
    border: none;
    border-radius: 5%;
    background-color: #3882f6;
    color: #f9faf8;
}

button:hover {
    background-color: #f9faf8;
    color: #1f2937;
}

/* Class style formatting */

.header_logo {
    height: 100px;
    width: auto;
}

.main_content {
    display: flex;
    width: 80%;
    margin: 4% 10%;
    height: auto;
    flex-direction: row;
    gap: 70px;
}

.welcome_content {
    flex-direction: column;
}

.main_content img {
    height: auto;
    width: 50%;
    object-fit: cover;
    border-radius: 5% 10% 0 2%;
}

.main_content p {
    font-weight: 200;
}

.galleries, .testimonials {
    width: 80%;
    height: 30%;
    margin: 4% 10%;
    justify-content: center;
    flex-direction: column;
}

#gallery_icons {
    flex: 1;
    flex-direction: row;
    width: 80%;
    margin: 3% 10%;
    justify-content: space-around;
}
.galleries h2 {
    width: auto;
    height: auto;
    text-align: center;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #1f2937 solid 2px;
    width: 150px;
    height: 150px;
}

.icon:hover {
    border: rgb(56, 128, 245) solid 2px;
    box-shadow: 3px -7px rgba(56, 128, 245, .5);
}

#stio, #skida, #wren {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 4%;

}.testimonials {
    background-color: #e5e7eb;
    width: 100%;
    height: 40%;
    margin: 0;
}

.quote_block {
    width: 60%;
    margin: 0 20%;
    flex-direction: column;
}
.feedback {
    width: 100%;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 300;
}
#quote {
    display: flex;
    width: auto;
    justify-content: flex-end;
    font-weight: 200;
    font-style: italic;
}
.description {
    flex-direction: column;
    width: 150px;
    font-size: .8em;
}
.description img {
    margin-bottom: 8%;
}
.call_action {
    flex-direction: column;
    width: 60%;
    height: auto;
    font-size: .9rem;
    color: #e5e7eb;
    justify-content: center;
}
.call_action h3 {
    margin: 0;
}
.galleries .call_action p {
    margin: 0;
}
.sub_banner p {
    margin: 0;
}
.sub_banner {
    width: 80%;
    height: 30%;
    margin: 4% 10%;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #3882f6;
    padding: 2%;
}
.sign_up {
    border: #e5e7eb solid 2px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
.sign_up:hover {
    background-color: #1f2937;
    color:#e5e7eb;
}
